
.clear {
    clear:both;
    padding: 0px;
    margin:0px;
}

.main{
    width: 1280px;
    text-align: left;
}

.header, .listItem, .cardImage, .cardDetails {
    float: left;
}

.cardDetails{
    width:560px;
    height:728px;
    margin-left: 10px;
    overflow: auto;
}

.header{
    width: 250px;
}

.listContainer {
    overflow: auto;
    height: 171px;
    margin-bottom: 10px;
}

.icon{
    border: black solid 2px;
}

.icon.selectedCard, .icon.selectedPage, .icon.selectedTheme{
    border: red solid 2px;
}

.status{
    width: 10px;
    height: 10px;
    float: right;
}

.readCard .status, .completePage .status, .completeTheme .status{
    border: green solid 2px;
    background-color: green;
}

.readPage .status, .readTheme .status{
    border: blue solid 2px;
    background-color: blue;
}

/*For Debug Only*/
div {
    /*border: black solid 1px;*/
}

