<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Destiny: Grim Reader</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="grimReader.js"></script>
    <script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
    <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body ng-app="grimReader">

<div class="main" ng-controller="GrimController" data-ng-init="init()" class="template">
    <div class="listContainer themePreview">
        <div class="listItem themeItem" ng-repeat="item in data" ng-click="setTheme(item.themeName)">
            <div class="itemTitle themeName" id="{{item.themeName}}" ng-bind-html="item.trustedThemeName"></div>
            <div class="icon listIcon themeIcon {{getSelectedThemeClass(item.themeName)}}" id="img-{{item.themeName}}" style="height:{{item.icon.rect.height}}px; width:{{item.icon.rect.width}}px; background-image: url('{{resolveResourceUrl(item.icon.sheetPath)}}'); background-position-x: -{{item.icon.rect.x}}px; background-position-y: -{{item.icon.rect.y}}px">
                <div class="status"></div>
            </div>
        </div>
    </div>
    <div class="listContainer pagePreview">
        <div class="listItem pageItem" ng-repeat="item in theme.pages" ng-click="setPage(item.pageName)">
            <div class="itemTitle pageName" id="{{item.pageName}}" ng-bind-html="item.trustedPageName"></div>
            <div class="icon listIcon pageIcon {{getSelectedPageClass(item.pageName)}}" id="img-{{item.pageName}}" style="height:{{item.icon.rect.height}}px; width:{{item.icon.rect.width}}px; background-image: url('{{resolveResourceUrl(item.icon.sheetPath)}}'); background-position-x: -{{item.icon.rect.x}}px; background-position-y: -{{item.icon.rect.y}}px">
                <div class="status"></div>
            </div>
        </div>
    </div>
    <div class="listContainer cardPreview">
        <div class="listItem cardItem" ng-repeat="item in page.cards" ng-click="setCard(item.cardId)">
            <div class="itemTitle cardName" id="{{item.cardId}}" ng-bind-html="item.trustedCardName"></div>
            <div class="icon listIcon cardIcon {{getSelectedCardClass(item.cardId)}}" id="img-{{item.cardId}}" style="height:{{item.icon.rect.height}}px; width:{{item.icon.rect.width}}px; background-image: url('{{resolveResourceUrl(item.icon.sheetPath)}}'); background-position-x: -{{item.icon.rect.x}}px; background-position-y: -{{item.icon.rect.y}}px">
                <div class="status"></div>
            </div>
        </div>
    </div>
    <div class="selectionContainer cardSelection">
        <div class="cardContainer fullImage cardImage" style="height:{{card.image.rect.height}}px; width:{{card.image.rect.width}}px; background-image: url('{{resolveResourceUrl(card.image.sheetPath)}}'); background-position-x: -{{card.image.rect.x}}px; background-position-y: -{{card.image.rect.y}}px"></div>
        <div class="cardContainer selectionDetails cardDetails" id="cardText">
            <div class="cardBody cardDetailsName" ng-bind-html="card.trustedCardPathName"></div>
            <div class="cardBody cardDetailsIntro" ng-bind-html="card.trustedCardIntro"></div>
            <div class="cardBody cardDetailsDesc" ng-bind-html="card.trustedCardDescription"></div>
        </div>
    </div>
    <div id="btnPrev" ng-click="prevCard(card)">Previous</div>
    <div id="btnNext" ng-click="nextCard(card)">Next</div>
    <label for="chkRead">Already Read</label>
    <input id="chkRead" type="checkbox" ng-click="setCard(card.cardId)" ng-model="card.isRead" />

</div>

</body>
</html>